/* Professional Icon System */
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Icon sizes */
.icon-xs {
    width: 0.875em;
    height: 0.875em;
}

.icon-sm {
    width: 1em;
    height: 1em;
}

.icon-md {
    width: 1.25em;
    height: 1.25em;
}

.icon-lg {
    width: 1.5em;
    height: 1.5em;
}

.icon-xl {
    width: 2em;
    height: 2em;
}

.icon-2xl {
    width: 2.5em;
    height: 2.5em;
}

.icon-3xl {
    width: 3em;
    height: 3em;
}

/* Icon animations */
.icon-spin {
    animation: icon-spin 1s linear infinite;
}

@keyframes icon-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.icon-pulse {
    animation: icon-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes icon-pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* Specific icon styles */
.icon-search,
.icon-chart,
.icon-compare,
.icon-sun,
.icon-moon,
.icon-star,
.icon-star-filled,
.icon-file,
.icon-calendar,
.icon-book,
.icon-edit,
.icon-trash,
.icon-download,
.icon-history,
.icon-sparkles,
.icon-close {
    fill: none;
}

.icon-star-filled {
    fill: currentColor;
}